<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Translate Voice India </title>
	<link rel="stylesheet" href="css/blog.css">
  <script src="project.js"></script>
  <script src="dropdown.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>
<body>
   <!-- OUR 1ST STRIP DIV  -->
   <div class="container">
    <div class="header">
        <span id="time"></span>
        <ul class="he">
           
            <li>
                <a target="_blank" href="https://www.google.co.in/"><i class="fa-brands fa-google"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.youtube.co.in/"><i class="fa-brands fa-youtube"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <!-- <button class="btn"> <a href=""> login</a></button> -->


        </ul>

    </div>
  <!-- OUR NAVBAR DIV  -->
  <nav id="navbar">
    <div id="logo">
        <img src="asset/logo-white.png" alt="Translate Voice India">
    </div>
    <ul>
        <li class="items" id="nav3">
            <a href="index.html">Home</a>
        </li>
        <!-- <li class="items" id="nav2">
          <button></button> id="button">  <a href="https://www.youtube.com" target="_blank">YouTube</a><button> 
        </li> -->
        <li class="items" id="nav3">
            <a href="blog.html">Blog</a>
        </li>
        <li class="items" id="nav4">
            <a href="survey.html">Survey</a>
        </li> 
        <li class="items" id="nav8">
            <a href="#">View Gallery</a>
        </li>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Learn More</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="about.html">About Us</a>
              <a href="aim.html">Our Objectives</a>
              <a href="team.html">Our Team</a>
            </div>
          </div>
        <li class="items" id="nav9">
            <a href="contactus.html">Contact Us</a>
        </li>
    </ul>
</nav>
</div>
<!-- {% extends 'base.html'%}
{% block start %}

{% load static %} -->
<main id="main">
        <section id="blog" class="blog section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Blog</h2>
                    <p>See our blogs where we discuss the concept and technology underlying TranslateVoiceIndia.</p>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><a href="https://wordmagic12170.blogspot.com/2022/11/automated-mcq-generation-using-bert-and.html"><img src="{%static 'images/blog.png'%}"></a></div>
                            <h4 class="title"><a href="https://wordmagic12170.blogspot.com/2022/11/automated-mcq-generation-using-bert-and.html">Pytube</a></h4>
                            <p class="description">
                                Pytube is a Python library that allows you to download YouTube videos directly to your computer using a simple interface. It's useful for tasks like downloading individual videos, entire playlists, or extracting audio from videos. You can install Pytube via pip (pip install pytube) and start using it right away to fetch videos from YouTube URLs.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><a href="https://wordmagic12170.blogspot.com/2022/11/mcq-generation-process.html"><img src="{%static 'images/blog.png'%}"></a></div>
                            <h4 class="title"><a href="https://wordmagic12170.blogspot.com/2022/11/mcq-generation-process.html">Assembly</a></h4>
                            <p class="description">
                                Assembly language is a low-level programming language that translates directly into machine code. It uses mnemonic instructions to represent operations performed by a computer's CPU. It provides direct control over hardware but requires detailed knowledge of the underlying architecture and can be more complex to write and understand compared to higher-level languages.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><a href="https://wordmagic12170.blogspot.com/2022/11/how-to-generate-distractors-for-mcq.html"><img src="{%static 'images/blog.png'%}"></a></div>
                            <h4 class="title"><a href="https://wordmagic12170.blogspot.com/2022/11/how-to-generate-distractors-for-mcq.html">Mbart</a></h4>
                            <p class="description">
                                MBART is a multilingual version of Facebook AI's BART model. It's adept at understanding and generating text in multiple languages using a single shared model, making it efficient for various language tasks.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><a href="https://wordmagic12170.blogspot.com/2022/11/want-to-know-more-about-how-to.html"><img src="{%static 'images/blog.png'%}"></a></div>
                            <h4 class="title"><a href="https://wordmagic12170.blogspot.com/2022/11/want-to-know-more-about-how-to.html">GTTS</a></h4>
                            <p class="description">
                                GTTS, or Google Text-to-Speech, is a Python library that converts text into spoken words. It utilizes Google's Text-to-Speech API to generate audio from the provided text input. GTTS offers a simple interface for generating speech in multiple languages and accents, making it easy to integrate text-to-speech functionality into Python applications with minimal setup.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><a href="https://wordmagic12170.blogspot.com/2022/11/automated-mcq-generation-using-bert-and.html"><img src="{%static 'images/blog.png'%}"></a></div>
                            <h4 class="title"><a href="https://wordmagic12170.blogspot.com/2022/11/automated-mcq-generation-using-bert-and.html">FFmpeg</a></h4>
                            <p class="description">
                                FFmpeg is a powerful open-source multimedia framework that provides tools for handling and processing audio, video, and other multimedia files. It includes a collection of libraries and command-line utilities for tasks such as video encoding, decoding, transcoding, streaming, and manipulation. FFmpeg is widely used in various applications and projects due to its versatility, efficiency, and support for a wide range of codecs and formats.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><a href="https://wordmagic12170.blogspot.com/2022/11/automated-mcq-generation-using-bert-and.html"><img src="{%static 'images/blog.png'%}"></a></div>
                            <h4 class="title"><a href="https://wordmagic12170.blogspot.com/2022/11/automated-mcq-generation-using-bert-and.html">Docker</a></h4>
                            <p class="description">
                                Docker simplifies application deployment by packaging software and its dependencies into containers, which are portable, lightweight, and easy to manage. It streamlines the development process and ensures consistency across different environments.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
</main>
<!-- OUR FOOTER SECTION  -->
<footer class="footer">
    <!-- for outer most div   -->
    <div class="f1">
        <!-- OUR inner div  -->
        <div id="f2">
            <div class="f3">
                <div class="f1a">
                    <h2 class="f1ah">ABOUT UP POLICE</h2>
                    <hr>
                    <ul>
                        <li>
                            <a href="https://uppolice.gov.in/article/en--right-to-information">Right to information</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://uppolice.gov.in/en/circularsall">Departmental Circulars</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://uppolice.gov.in/en/governmentorders">Departmental Orders</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://uppolice.gov.in/article/en/police-welfare">Police welfare</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://uppolice.gov.in/pages/en/topmenu/about-us/en-general-information">UP Police at a Glance</a></li>
                    </ul>
                </div>
                <div class="f1a">
                    <h2 class="f1ah">HELP DESK</h2>
                    <hr>
                    <ul>
                        <li>
                            <a href="https://uppolice.gov.in/article/en/help">Help</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://uppolice.gov.in/pages/en/topmenu/en-contact-us/en-contact-us">Feedback</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://uppolice.gov.in/article/en/dos-and-dont">Do's and Don't</a></li>
                    </ul>
                </div>
                <div class="f1a">
                    <h2 class="f1ah">FOLLOWS US</h2>
                    <hr>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/uppolice/">Facebook</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://twitter.com/uppolice/">Twitter</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="https://www.youtube.com/channel/UCU6wKyV1ToMUSzAVQDLUaig">Youtube</a></li>
                    </ul>
                </div>
                <div id="f1d">
                    <h2 class="f1ah">MOBILE APPS </h2>
                    <hr>
                    <h4 id="p">Eg: Citizen Services App</h4>
                    <p>Verifications, Online FIR Status,
                        <br> Lost Article Report</p>
                    <a href="https://uppolice.gov.in/article/en/lost-and-found"><img id="f1dimg" src="android-app.png" alt="Google Play Store"></a>
  
                </div>
                <div class="f1a">
                    <h2 class="f1ah">Click for  Mail</h2>
                    <hr>
                    <img id="f1eimg" src="gov.png" alt="gov logo">
                    <ul>
                        <li><a href="https://uppolice.gov.in/site/writereaddata/siteContent/Rules/202006091547318548E-mail_policy_of_Government_of_India_3.pdf">Click for e-mail policy</a></li>
                    </ul>
  
                </div>
                
  
            </div>
            <hr>
            <p id="last">This site is managed by TranslateVoiceIndia Team Designed by "Diya Garg" Since ,2024 </p>
        </div>
  
    </div>
  
    </div>
  
  </footer>